@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;

    strong {
        margin-right: 1rem;
    }
}

img {
    width: 100%;
    height: auto;
}

.movie-item {
    display: block;
    margin: 20px 0;
    color: #000;
    cursor: pointer;
    position: relative;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    img {
        display: block;
        width: 100%;
    }

    &__title {
        padding: 0 15px;
        margin-top: 15px;
        font-size: 18px;
        word-break: break-word;
    }
}

.display-4 {
    @media (max-width: 767px) {
        font-size: 2.5em;
    }
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

iframe {
    @media (max-width: 767px) {
        height: 300px;
    }

    @media (max-width: 450px) {
        height: 250px;
    }
}

.jumbotron {
    margin-bottom: 0;
}

.rating {
    left: 10px;
    top: 10px;
}

.goto {
    &__input {
        width: 100px;
    }
}
